temp.svg

logs
*.log
test.js
npm-debug.log*

node_modules/

.npm

.node_repl_history
.env

#config file
/config.json

# files cache
/art/files.json

#temp directory
temp/

#a file for testing stuff

/temp.svg

# ignore the coins

/coins.json

# permission overrides

perm-overrides.json

# bans

/bans.json

#temp.svg

msgs.json
permakicks.json

rules.json

# you don't get my google cloud platform key
/google-cloud-key.json

# roles to remove with $purgeroles
/purgeroles.txt
